.main-content {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    padding: 20px;

    overflow-x: scroll;
    background-color: rgb(244, 242, 232);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pokemoncard {
    width: auto;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;

    border-radius: 30px;

    color: black;
    font-family: 'Baloo 2';
    font-size: 16px;
    font-weight: 700;
}

.pokemoncard-headline {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Baloo 2';
    font-size: 24px;
    font-weight: 700;
}

.pokemon-img {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.pokemon-img img {
    width: 80px;
}